<h1 class="page-header">Pregled žanrova</h1>
<div class="container col-lg-12">
    <div class="row">
        <kendo-button class="btn btn-primary btn-outline" on-click="manageGenre()">+ Novi žanr</kendo-button>
        <kendo-grid id="genresGrid"
                    options="genresGrid"
                    k-data-source="genresData"
                    k-pageable="{'refresh': true, 'pageSizes': true, 'buttonCount': 5}"
                    k-filterable="true"
                    k-resizable="true">
        </kendo-grid>
    </div>
</div>