<h1 class="page-header">
    <span>{{vm.title?"Uredi film":"Novi film"}}</span>
    <div style="float:right">
        <button id="submit-button"
                type="submit"
                form="movieForm"
                class="btn btn-primary btn-outline">
            Save
        </button>
        <button type="button"
                class="btn btn-default btn-outline"
                ui-sref="moviePersonsOverview">
            Cancel
        </button>
    </div>
</h1>
<div class="k-content">
    <form name="movieForm" id="movieForm" class="col-lg-10 col-md-12"
          angular-validator
          ng-disabled="movieForm.$invalid"
          angular-validator-submit="submitForm()">
        <div class="row">
            <div class="col-md-12 form-group">
                <div class="">
                    <label for="movieName" class="form-control">Naziv</label>
                </div>
                <div class="">
                    <input type="text" id="movieName" class="form-control"
                           ng-model="vm.movie.movieName"
                           validate-on="dirty"
                           required-message="'Naziv mora biti ispunjen'"
                           required />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                <div class="">
                    <label for="movieReleaseDate" class="form-control">Datum izlaska:</label>
                </div>
                <div class="">
                    <input type="text" id="movieReleaseDate" class="form-control"
                           kendo-date-picker
                           validate-on="dirty"
                           k-min="'1800-01-01'"
                           k-format="'yyyy-MM-dd'"
                           ng-model="vm.movie.movieReleaseDate"
                           required-message="'Datum rođenja mora biti ispunjen'"
                           required />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <div class="">
                    <label for="movieDescription" class="form-control">Opis</label>
                </div>
                <div class="">
                    <textarea id="movieDescription" class="form-control" style="max-width:100%;max-height:25%"
                              ng-model="vm.movie.movieDescription"
                              maxlength="2000" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <div class="">
                    <label for="movieGenres" class="form-control">Žanrovi</label>
                </div>
                <div class="">
                    <select kendo-multi-select k-options="selectOptions" ng-model="selectedGenres"
                            validate-on="dirty" required required-message="Morate odabrati barem jedan žanr"
                            ></select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <div class="">
                    <label for="moviePosterUrl" class="form-control">URL postera</label>
                </div>
                <div class="">
                    <input type="text" id="moviePosterUrl" class="form-control"
                           validate-on="dirty"
                           validator="validateImageUrl(vm.movie.moviePosterUrl) === true"
                           invalid-message="validateImageUrl(vm.movie.moviePosterUrl)"
                           ng-model="vm.movie.moviePosterUrl" />
                </div>
                <div>
                    <h6>Ako nije prazno, mora početi s http(s), a mora završiti s .jpg, .jpeg, .png ili .gif</h6>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <div class="">
                    <label for="movieImdbUrl" class="form-control">IMDb URL</label>
                </div>
                <div class="">
                    <input type="text" id="movieImdbUrl" class="form-control"
                           ng-model="vm.movie.movieImdbUrl"
                           validate-on="dirty"
                           validator="validateImdbUrl(vm.movie.movieImdbUrl) === true"
                           invalid-message="validateImdbUrl(vm.movie.movieImdbUrl)"
                           required
                           required-message="'IMDb URL mora biti ispunjen'" />
                </div>
                <div>
                    <h6>Mora biti IMDb URL, te mora početi s http(s)</h6>
                </div>
            </div>
        </div>
    </form>
    <div class="col-lg-2 col-md-0"></div>
</div>