<h1 class="page-header">
    <span>{{vm.title?"Uredi film":"Novi film"}}</span>
    <div style="float:right">
        <button id="submit-button" type="submit"
                form="movieForm"
                class="btn btn-success btn-outline">
            Save
        </button>
        <button type="button"
                class="btn btn-primary btn-outline"
                ui-sref="moviesOverview">
            Cancel
        </button>
    </div>
</h1>
<div class="k-container-fluid">
    <form name="movieForm" id="movieForm" class="col-lg-10 col-md-12"
          ng-disabled="movieForm.$invalid"
          ng-submit="submitForm($event)"
          novalidate>

        <div class="row">
            <div class="col-md-12 form-group">
                <div class="">
                    <label for="movieName" class="control-label">Naziv</label>
                </div>
                <div class="">
                    <input type="text" id="movieName" class="form-control"
                           ng-model="vm.movie.movieName"
                           ng-model-options="{ updateOn: 'mousedown blur' }"
                           ng-change="validationFunctions.validateMovieName(vm.movie.movieName)"
                           ng-required />
                    <p style="color:#b94a48;font-weight:bold" ng-show="errors.movieNameError===true">
                        {{errors.movieNameError?validationFunctions.validateMovieName(vm.movie.movieName):""}}
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 form-group">
                <div class="">
                    <label for="movieReleaseDate" class="control-label">Datum izlaska:</label>
                </div>
                <div class="">
                    <input type="text" id="movieReleaseDate" class="form-control"
                           kendo-date-picker
                           k-min="'1800-01-01'"
                           k-format="'yyyy-MM-dd'"
                           ng-model="vm.movie.movieReleaseDate"
                           ng-model-options="{ updateOn: 'mousedown blur' }"
                           ng-change="validationFunctions.validateMovieReleaseDate(vm.movie.movieReleaseDate)"
                           ng-required />
                    <p style="color:#b94a48;font-weight:bold" ng-show="errors.movieReleaseDateError===true">
                        {{errors.movieReleaseDateError?validationFunctions.validateMovieReleaseDate(vm.movie.movieReleaseDate):""}}
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 form-group">
                <div class="">
                    <label for="movieDescription" class="control-label">Opis</label>
                </div>
                <div class="">
                    <textarea id="movieDescription" class="form-control" style="max-width:100%;max-height:25%"
                              maxlength="2000"
                              ng-model="vm.movie.movieDescription"
                              ng-model-options="{ updateOn: 'mousedown blur' }"
                              ng-change="validationFunctions.validateMovieDescription(vm.movie.movieDescription)"
                              ng-required />
                    <p style="color:#b94a48;font-weight:bold" ng-show="errors.movieDescriptionError===true">
                        {{errors.movieDescriptionError?validationFunctions.validateMovieDescription(vm.movie.movieDescription):""}}
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 form-group">
                <div class="">
                    <label for="movieGenres" class="control-label">Žanrovi</label>
                </div>
                <div class="">
                    <select kendo-multi-select class="form-control" id="movieGenres"
                            k-options="selectOptions"
                            ng-model="selectedGenres"
                            ng-model-options="{ updateOn: 'mousedown blur' }"
                            ng-change="validationFunctions.validateMovieGenres()"
                            ng-required />
                    <p style="color:#b94a48;font-weight:bold" ng-show="errors.genresError===true">
                        {{errors.genresError?validationFunctions.validateMovieGenres():""}}
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 form-group">
                <div class="">
                    <label for="moviePosterUrl" class="control-label">URL postera</label>
                </div>
                <div class="">
                    <input type="text" id="moviePosterUrl" class="form-control"
                           ng-model="vm.movie.moviePosterUrl"
                           ng-model-options="{ updateOn: 'mousedown blur' }"
                           ng-change="validationFunctions.validateImageUrl(vm.movie.moviePosterUrl)"
                           ng-required />
                    <p style="color:#b94a48;font-weight:bold" ng-show="errors.imageUrlError===true">
                        {{errors.imageUrlError?validationFunctions.validateImageUrl(vm.movie.moviePosterUrl):""}}
                    </p>
                </div>
                <div>
                    <h6>Ako nije prazno, mora početi s http(s), a mora završiti s .jpg, .jpeg, .png ili .gif</h6>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 form-group">
                <div class="">
                    <label for="movieImdbUrl" class="control-label">IMDb URL</label>
                </div>
                <div class="">
                    <input type="text" id="movieImdbUrl" class="form-control"
                           ng-model="vm.movie.movieImdbUrl"
                           ng-model-options="{ updateOn: 'mousedown blur' }"
                           ng-change="validationFunctions.validateImdbUrl(vm.movie.movieImdbUrl)"
                           ng-required />
                    <p style="color:#b94a48;font-weight:bold" ng-show="errors.imdbUrlError===true">
                        {{errors.imdbUrlError?validationFunctions.validateImdbUrl(vm.movie.movieImdbUrl):""}}
                    </p>
                </div>
                <div>
                    <h6>Mora biti IMDb URL, te mora početi s http(s)</h6>
                </div>
            </div>
        </div>
    </form>
    <div class="col-lg-2 col-md-0"></div>
</div>