<h1 class="page-header">
    {{vm.movie.movieName}}
    <div style="float:right">
        <button type="button" class="btn btn-primary btn-outline" ui-sref="updateMovie({id:{{vm.movie.movieId}}})" id="editMovieButton">Uredi film</button>
        <!--//TODO implementirati deleteButton-->
        <button type="button" id="deleteButton" class="btn btn-danger btn-outline" ng-click="onDeleteButtonClick()">Obriši film</button>
    </div>
</h1>
<div class="col-sm-3">
    <img src="{{vm.movie.moviePosterUrl}}" style="width:100%" />
</div>
<div class="col-sm-9 container-fluid panel panel-info">
    <div class="panel-heading">
        <h5 class="panel-title">PODACI O FILMU</h5>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12 panel panel-default">
                <div class="panel-heading">
                    <p class="panel-title">Naslov/Naziv:</p>
                </div>
                <div class="panel-body">
                    <span style="font-weight:bold">{{vm.movie.movieName}}</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 panel panel-default">
                <div class="panel-heading">
                    <p class="panel-title">Datum izlaska:</p>
                </div>
                <div class="panel-body">
                    <span style="font-weight:bold">{{vm.movie.movieReleaseDate | date:"dd.MM.yyyy."}}</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 panel panel-default">
                <div class="panel-heading">
                    <p class="panel-title">Kratki opis:</p>
                </div>
                <div class="panel-body">
                    <span style="font-weight: bold">{{vm.movie.movieDescription}}</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 panel panel-default">
                <div class="panel-heading">
                    <p class="panel-title">Žanrovi:</p>
                </div>
                <div class="panel-body">
                    <span ng-repeat="genre in vm.movie.genres" class="badge badge-secondary">
                        {{genre.name}}
                    </span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 panel panel-default">
                <div class="panel-heading">
                    <p class="panel-title">Ocjena:</p>
                </div>
                <div class="panel-body">
                    <span>
                        <input kendo-rating
                               k-options="ratingOptions"
                               k-ng-model="vm.movie.movieRating"
                               style="width: 100%;" />
                    </span>
                </div>
            </div>
            <div class="col-md-6 panel panel-default">
                <div class="panel-heading">
                    <p class="panel-title">Vaša ocjena:</p>
                </div>
                <div class="panel-body">
                    <span>
                        <input kendo-rating
                               k-options="userRatingOptions"
                               k-ng-model="vm.movieRating.userRating"
                               style="width: 100%;" />
                    </span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 panel panel-default">
                <div class="panel-heading">
                    <p class="panel-title">IMDB url</p>
                </div>
                <div class="panel-body">
                    <a style="font-weight: bold" href="{{vm.movie.movieImdbUrl}}">{{vm.movie.movieImdbUrl}}</a>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12 panel panel-default">
                <button type="button" ng-click="onAddRoleClick()" id="addRoleButton" class="btn btn-success btn-outline">Dodaj ulogu</button>
                <kendo-grid k-options="roleGrid" id="rolesGrid" k-pageable="{'refresh': true, 'pageSizes': true, 'buttonCount': 5}">

                </kendo-grid>
            </div>
        </div>
    </div>

</div>