<h1 class="page-header">Pregled film osoba</h1>
<div class="container col-lg-12">
    <div class="row">
        <div class="col-sm-6"><button type="button" class="btn btn-primary" ui-sref="newMoviePerson">Dodaj novu osobu</button></div>
        <select class="col-sm-6" style="float:right"
                kendo-drop-down-list
                k-data-source="dropdownlistData"
                k-data-text-field="'text'"
                k-data-value-field="'value'"
                k-option-label="'Sortiraj prema...'"
                k-on-change="onSelectChanged(kendoEvent)"
                k-value-primitive="true"
                k-ng-model="sortParams"></select>
    </div><br />
    <div class="row">
        <kendo-grid options="moviePersonGrid" id="moviePersonGrid"
                    k-data-source="moviePersonGridData"
                    k-pageable="{'refresh': true, 'pageSizes': true, 'buttonCount': 5}"
                    k-filterable="true"
                    k-resizable="true">

        </kendo-grid>
    </div>
</div>