<h1 class="page-header">
    {{vm.moviePerson.firstName}} {{vm.moviePerson.lastName}}
    <div style="float:right">
        <button type="button" class="btn btn-primary btn-outline" ui-sref="updateMoviePerson({id:{{vm.moviePerson.id}}})" id="editMoviePersonButton">Uredi osobu</button>
        <button type="button" ng-click="onDeleteButtonClick()" id="deleteButton" class="btn btn-danger btn-outline">Obriši osobu</button>
    </div>
</h1>
<div class="col-md-9 panel panel-info container-fluid">
    <div class="panel-heading">
        <h5 class="panel-title">PODACI O OSOBI</h5>
    </div>
    <div class="panel-body">

        <div class="row">
            <div class="col-md-6 panel panel-default">
                <div class="panel-heading">
                    <p class="panel-title">Ime:</p>
                </div>
                <div class="panel-body">
                    <span style="font-weight:bold">{{vm.moviePerson.firstName}}</span>
                </div>
            </div>
            <div class="col-md-6 panel panel-default">
                <div class="panel-heading">
                    <p class="panel-title">Datum rođenja:</p>
                </div>
                <div class="panel-body">
                    <span style="font-weight:bold">{{vm.moviePerson.birthDate | date:"dd.MM.yyyy."}}</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 panel panel-default">
                <div class="panel-heading">
                    <p class="panel-title">Prezime:</p>
                </div>
                <div class="panel-body">
                    <span style="font-weight: bold">{{vm.moviePerson.lastName}}</span>
                </div>
            </div>
            <div class="col-md-6 panel panel-default">
                <div class="panel-heading">
                    <p class="panel-title">Mjesto rođenja:</p>
                </div>
                <div class="panel-body">
                    <span style="font-weight: bold">{{vm.moviePerson.birthPlace}}</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 panel panel-default">
                <div class="panel-heading">
                    <p class="panel-title">Kratka biografija</p>
                </div>
                <div class="panel-body">
                    <p>{{vm.moviePerson.biography}}</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 panel panel-default">
                <div class="panel-heading">
                    <p class="panel-title">IMDB url</p>
                </div>
                <div class="panel-body">
                    <p style="font-weight:bold"><a href="{{vm.moviePerson.imdbUrl}}">{{vm.moviePerson.imdbUrl}}</a></p>
                </div>
            </div>
            <div class="col-md-6 panel panel-default">
                <div class="panel-heading">
                    <p class="panel-title">Popularnost</p>
                </div>
                <div class="panel-body">
                    <p style="font-weight: bold">#{{vm.moviePerson.popularity}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3">
    <img src="{{vm.moviePerson.imageUrl}}" style="width:100%">
</div>